<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>

<p>You :<%= @question %></p>
 <!-- take instance variable to the html in order to display to the user -->
<p>Coach :<%= @answer %></p>

<%= link_to "Ask a new question", ask_path %>

